@model Mshop.Models.EmployeeInfo
@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .a {
        width: 300px;
        height: 360px;
        font-size: 14px;
        background-color: #03125c;
        color: whitesmoke;
        margin-left: 20px;
        /*margin-top: 20px;*/
        padding: 30px;
        /* margin-bottom: 15px;*/
        border-radius: 5px 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
    }
</style>
<section class="content" style="min-height:500px;overflow-x:hidden;">
    <div class="row">
        <div class="col-md-12 ">
            <!--breadcrumbs start -->
            <ul class="breadcrumb ">


                <li class="active">Update Employee Detail</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading" style="background-color:white; color: #343e6e; font-size: 16px; border: 3px solid #f1f2f7; border-top-color: #1b4a6e; border-radius: 5px 5px; ">
                    <strong>Update Employee Information</strong>
                </header>
                <div class="panel-body" style="margin-top:10px;">

                    <div class="row">
                        <div class="col-md-8">

                            @using (Ajax.BeginForm("UpdateEmployee", "Master",
                             new AjaxOptions
                             {
                                 OnSuccess = "OnSuccess",
                                 OnFailure = "OnFailure",
                                 LoadingElementId = "progress",
                                 UpdateTargetId = "ParentDiv"
                             }))

                            {
                                @Html.AntiForgeryToken()
                                <div class="container-fluid" style="border-radius: 3px 3px; color: #343e6e; font-size: 16px; color: darkslateblue; height: 38px; padding-left: 8px; padding-top: 7px; background-color: #c8cadb; ">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>Update Employee  Information</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Employee Name: </b></label>
                                                <div class="col-md-8">
                                                    @Html.HiddenFor(m => m.Employeeid)
                                                    @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.EmployeeName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Position: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.Position, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Salary: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.Salary, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Gender: </b></label>
                                                <div class="col-md-8" style="font-size:16px;padding-right:3px;">
                                                    <span> Male </span>  @Html.RadioButtonFor(m => m.Gender, "Male")
                                                    <span> Female </span>   @Html.RadioButtonFor(m => m.Gender, "Female")
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b> Address : </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Phone No : </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.PhNo, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.PhNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <div class="col-md-6">

                                                            <button type="submit" id="btnSave" ondblclick="this.disabled = true;" class="btn btn-md btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="/Master/Employee" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>


                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                <div class=" form-group ">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12   a">
                                            <h3>Hello Mobile Shop</h3>


                                            <b>
                                                <ul>
                                                    <li>Please update the information of employee.</li>

                                                    <li>And Check Again!</li>
                                                </ul>
                                            </b>

                                            <hr style=" border: 2px solid #edf0f5;">


                                            <img src="~/Image/emp.png" class="rounded" style="height: 130px;width:240px; border-radius: 5px 5px; padding-right: 0px; position: absolute; ">

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer bg-black-gradient" style="margin-top:0px;">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span> YanKin Township,Yangon Region
                                </li>
                                <br />
                                <li>
                                    <span class="glyphicon glyphicon-phone-alt"></span> 09-780563429
                                </li>
                                <br />
                                <li>
                                    <span class="glyphicon glyphicon-envelope"></span> Email-yazarmin@myanmareasenet.com
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>Hello Mobile Shop</h4>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    "Do You need a good phone!Just come to Hello Mobile Shop."
                                </div>
                                <div class="col-md-6">
                                    <div class="text-left">
                                        <img src="~/Image/hello.png" class="rounded" style="padding-left: 5px;height:60px;width:80px; padding-right: 0px; position: absolute; ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function OnSuccess(response) {

            if (response.status == true) {
                swal(
                    {
                        title: "Update Employee",
                        text: response.content,
                        type: "success"
                    },function () {
                        window.location.reload();
                        window.location.href = "/Master/NewEmployee";
                    });

            }
            else {
                swal(
                    {
                        title: "Update Employee",
                        text: response.content,
                        type: "error"
                    });
            }
        }

        function OnFailure(response) {
            swal(
                {
                    title: "Update Employee",
                    text: response.content,
                    type: "error"
                });
        }

        (function ($) {
            var defaultOptions = {
                errorClass: 'has-error',
                validClass: '',
                highlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .addClass(errorClass)
                        .removeClass(validClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .removeClass(errorClass)
                        .addClass(validClass);
                }
            };

            $.validator.setDefaults(defaultOptions);

            $.validator.unobtrusive.options = {
                errorClass: defaultOptions.errorClass,
                validClass: defaultOptions.validClass,
            };
        })(jQuery);

    </script>

}


