@model Mshop.Models.RepairInfo
@{
    ViewBag.Title = "GetRepairId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
  
    .a {
        width: 300px;
        height: 450px;
        font-size: 14px;
        background-color: #03125c;
        color: whitesmoke;
        margin-left: 20px;
        /*margin-top: 20px;*/
        padding: 30px;
        /* margin-bottom: 15px;*/
        border-radius: 5px 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
    }

    .form-group {
        margin-top: 15px;
        font-size: 14px;
        margin-bottom: 8px;
    }

    
    .c {
        background-color: white;
        font-size: 16px;
        border: 3px solid #f1f2f7;
        border-top-color: #1b4a6e;
        border-radius: 5px 5px;
        color: #343e6e;
        padding: 6px;
        height: 32px;
        margin-top: -15px;
        margin-bottom: 10px;
        height: 40px;
    }

    .b {
        background-color: white;
        border: 3px solid #f1f2f7;
        border-top-color: #1b4a6e;
        border-radius: 5px 5px;
        font-size: 16px;
        color: #343e6e;
        padding: 6px;
        height: 40px;
    }

    .container-border {
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
</style>
<section class="content" style="min-height:500px;overflow-x:hidden;">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li class="active"><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>

            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid" style="border-radius: 5px 5px; height: 120px; padding-left: 8px; padding-top: 10px; background-color: #2b3b8a;">
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-2">
                            <div class="text-left">
                                <img src="~/Image/hello.png" class="rounded" style="border-radius: 5px 5px;  height: 95px; width: 150px; position: absolute; ">
                            </div>

                        </div>
                        <div class="col-md-8 text-center">
                            <h2 style="color:goldenrod;">Hello Mobile Shop</h2>
                            <br />
                            <p style="color:whitesmoke;font-size:16px;">"Do You need a good phone!Just come to <strong style="color:goldenrod;">Hello Mobile Shop</strong>."</p>
                        </div>

                        <div class="col-md-2">
                            <div class="text-left">
                                <img src="~/Image/shop.jpg" class="rounded" style="border-radius: 5px 5px;  height: 95px; width: 150px; position: absolute; ">
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <br />
            <section class="panel">

                <div class="panel-body ">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12  c">
                                <span class="glyphicon glyphicon-th-list"></span>   <strong>Repair Management</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="margin-block-end:20px;">

                                <div class="container-fluid" style="border-radius: 3px 3px; color: #343e6e; font-size: 16px; color: darkslateblue; height: 34px; padding-left: 8px; padding-top: 5px; background-color: #c8cadb; ">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>Fill Repair Information</strong>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="form-horizontal">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Customer Name: </b></label>
                                                <div class="col-md-8">
                                                    @Html.HiddenFor(m=>m.Customerid)
                                                    @*<label>@Model.CustomerName</label>*@
                                                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Mobile Type: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.PhoneType, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.PhoneType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Address: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Mobile Model: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.Model, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.Model, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b> Phone No : </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.PhNo, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.PhNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Color : </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.Color, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.Color, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Description: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>IsNo: </b></label>
                                                <div class="col-md-8" style="font-size:16px;padding-right:3px;">
                                                    <span> Yes </span>  @Html.RadioButtonFor(m => m.IsNo, "Yes")
                                                    <span> No </span>   @Html.RadioButtonFor(m => m.IsNo, "No")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group " id="qty">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Repair Payment : </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.RepairPayment, new { @class = "form-control", @type = "number", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.RepairPayment, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group " id="total">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Projection: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.Projection, new { @class = "form-control", @type = "number", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.Projection, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group " id="total">
                                                <label class="col-md-4 " style=" font-size: 16px;"><b>Total: </b></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(x => x.TotalAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-10">
                                                    
                                                        <div class="col-md-12">
                                                            <a href="/Repair/SaveRepair" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>


                                </div>
                            
                        </div>
                        <div class="col-md-4">

                            <div class="container">
                                <div class=" form-group ">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12   a">
                                            <h3>Hello Mobile Shop</h3>
                                            <p style="font-size:16px;">"Do You need a good phone!Just come to Hello Mobile Shop"</p>
                                            <b>
                                                <ul>
                                                    <li>Check the customer detail</li>

                                                    <li>And Check Again!</li>
                                                </ul>
                                            </b>

                                            <hr style=" border: 2px solid #edf0f5;">

                                            <img src="~/Image/repair.png" class="rounded" style="height: 190px;width:240px; border-radius: 5px 5px; padding-right: 0px; position: absolute; ">

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                   
                </div>
                <div class="panel-footer bg-black-gradient">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span> YanKin Township,Yangon Region
                                </li>
                                <br />
                                <li>
                                    <span class="glyphicon glyphicon-phone-alt"></span> 09-780563429
                                </li>
                                <br />
                                <li>
                                    <span class="glyphicon glyphicon-envelope"></span> Email-yazarmin@myanmareasenet.com
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

</section>
